body {
    background: linear-gradient(to right, grey, white);

}

h1 {
    color: cyan;
    font-family: forte;
    font-size: 65px;
}

.muncul {
    color: rgb(243, 241, 241);
    opacity: 0;
    animation-name: fadeInNama;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.muncul h3 {
    color: white;
}

@keyframes fadeInNama {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}